@import "tailwindcss";


.swiper-slide {

  justify-content: center;
  align-items: center;
}


@font-face {
  font-family: 'helveticaNow';
  src: url('/public/Fonts/HelveticaNow/helvetica-now-text-medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaNowBold';
  src: url('/public/Fonts/HelveticaNow/helveticanowtext-black-demo.ttf');
  font-weight: 500;
  font-style: normal;
}

.swiper-pagination-bullet {
  height:5px !important;
  width: 5px !important;
  opacity:.5;
  background: #FFFFFF !important;
}

.fonth1 {
  font-family: helveticaNow, Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


/* scrollbar behaviour on hover */

.scroll-on-hover {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scroll-on-hover::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Show scrollbar on hover */
.scroll-on-hover:hover {
  scrollbar-width: thin;
}

.scroll-on-hover:hover::-webkit-scrollbar {
  display: block;
  height: 8px;
}

.scroll-on-hover:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

